<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Games\A\Chisoyhoc_API.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Chisoyhoc</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PM_ChisoyhocConnectionString1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-SP0BRKD;Initial Catalog=PM_Chisoyhoc;Persist Security Info=True;User ID=sa;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PM_ChisoyhocConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-SP0BRKD;Initial Catalog=PM_Chisoyhoc;Persist Security Info=True;User ID=sa;Password=123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PM_ChisoyhocConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-SP0BRKD;Initial Catalog=W3Schools;Persist Security Info=True;User ID=sa;Password=123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-SP0BRKD;Initial Catalog=PM_Chisoyhoc;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PM_ChisoyhocConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-SP0BRKD;Initial Catalog=PM_Chisoyhoc;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PM_ChisoyhocConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-SP0BRKD;Initial Catalog=W3Schools;Persist Security Info=True;User ID=sa;Password=123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PM_ChisoyhocConnectionString1-Web.config Connection String" />
  </ItemGroup>
</Project>