<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.PM_ChisoyhocConnectionString"
            connectionString="Data Source=DESKTOP-SP0BRKD;Initial Catalog=PM_Chisoyhoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClassChung.Properties.Settings.PM_ChisoyhocConnectionString"
            connectionString="Data Source=DESKTOP-SP0BRKD;Initial Catalog=PM_Chisoyhoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClassChung.Properties.Settings.PM_ChisoyhocConnectionString1"
            connectionString="Data Source=DESKTOP-2I7PF6U;Initial Catalog=PM_Chisoyhoc;User ID=sa;Password=Anhyeu1em"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>